{% extends "base_layout.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}Add Agent{% endblock %}
</head>



<body>
{% block body %}
<div class="container" style="margin-bottom:5%;">
    <div class="row justify-content-center">
        <div class="col-4">
                            <br>
                    <h4>Agregar agente</h4>
                            <br>
                <form method="POST" class="addAgent">
                    <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}

                    </div>
         </div>
    </div>
         <div class="row justify-content-end">
            <div class="col-8">
                  <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
</form>



</div>
{% endblock %}
<br>
<br>
<br>
</body>

</html>